@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: "Eurostile";
  src: url("/fonts/EurostileLTProUnicode.woff2") format("woff2");
  font-weight: 500;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: "Eurostile";
  src: url("/fonts/EurostileLTProUnicode-Demi.woff") format("woff");
  font-weight: 700;
  font-display: block;
  font-style: normal;
}

@theme {
  --font-roboto: "Roboto", "Helvetica Neue", sans-serif;
  --font-eurostile: "Eurostile", "Helvetica Neue", sans-serif;

  --text-*: initial;

  --text-base: 1.2rem;
  --text-base--line-height: 1.25;
  --text-m-base: 1rem;
  --text-m-base--line-height: 1.25;

  --color-*: initial;
  --color-white: #fff;
  --color-black: #000;

  --spacing: 1rem;

  --default-transition-duration: 300ms;
  --duration-fast: 150ms;

  --radius-*: initial;
  --radius-l: 1.2rem;
}
