@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: block;
  font-style: normal;
}

@theme {
  --font-body: "Roboto", "Helvetica Neue", sans-serif;

  --text-*: initial;

  --text-base: 1.2rem;
  --text-base--line-height: 1.25;
  --text-m-base: 1.6rem;
  --text-m-base--line-height: 1.25;

  --color-*: initial;
  --color-white: #fff;
  --color-black: #000;

  --spacing: 1rem;

  --default-transition-duration: 300ms;
  --duration-fast: 150ms;

  --radius-*: initial;
}
